body {
    font-family: Arial;
    background: #f4f4f4;
    margin: 0;
    padding: 0;
}

.container {
    max-width: 100%;
    margin: 0;
    padding: 20px;
}


header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 10px;
}

#search {
    width: 100%;
    padding: 10px;
    margin: 5px 0 10px 0;
}

.categories {
    display: flex;
    gap: 8px;
    margin-bottom: 15px;
}

.category-btn {
    flex: 1;
    padding: 8px;
    background: white;
    border: 1px solid #ddd;
    border-radius: 6px;
    cursor: pointer;
}

.listing {
    background: #e3ebe2;
    padding: 15px;
    margin-bottom: 12px;
    border-left: 4px solid #349e54;
    border-radius: 4px;
    cursor: pointer;
}

.listing:hover {
    transform: translateY(-1px);
}

.listing h3 {
    margin: 0 0 5px 0;
}

.listing small {
    color: #666;
}

.listing button {
    margin-top: 10px;
    padding: 6px 12px;
    background: #6b9aff;
    border: none;
    color: white;
    border-radius: 4px;
    cursor: pointer;
}

.top-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 15px;
}

.top-right {
    display: flex;
    align-items: center;
    gap: 10px;
}

.header-btn {
    background: #ffffff;
    border: 1px solid #7c7c8f;
    padding: 6px 12px;
    border-radius: 6px;
    cursor: pointer;
    font-size: 15px;
}

.upload-icon {
    width: 48px;
    height: 48px;
    background: #ff8a3d;
    color: white;
    border: none;
    border-radius: 14px;
    font-size: 28px;
    line-height: 48px;
    text-align: center;
    cursor: pointer;
    font-weight: bold;
    transition: 0.2s;
}

.upload-icon:hover {
    transform: scale(1.07);
}

.request-btn {
    background: #ff6b6b;
    color: white;
    border: none;
    padding: 8px 12px;
    border-radius: 6px;
    cursor: pointer;
    font-size: 14px;
    font-weight: 500;
}

.request-btn:hover {
    background: #14345e;
}


